<% layout('layouts/boilerplate') %>

<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>KIEDY SKONSULTOWAĆ SIĘ ZE SPECJALISTĄ</h1>
        <hr>
    </div>
    
    <div class="card mt-1 py-3 justify-content-center align-items-center">
        <div class="container-fluid mx-0 px-5">
          <div class="row g-0 align-items-center">
            <div class="col-md-12 col-lg-4">
                <img src="/images/kiedy-do-specjalisty-pic01.jpg" class="img-fluid rounded-start" alt="...">
              </div>
            <div class="col-md-12 col-lg-8">
              <div class="card-body">
                <p class="card-text px-3">
                  <strong>Jeśli Twoje dziecko niechętnie:</strong>
                </p>
                  <ul class="px-3">
                    <li>rysuje i maluje,</li>
                    <li>pisze, jego pismo jest nieczytelne, ma trudności grafomotoryczne,</li>
                    <li>lepi z plasteliny,</li>
                    <li>wycina, nie lubi pracy z nożyczkami,</li>
                    <li>układa drobne przedmioty</li>
                </ul>
                <p class="card-text px-3">
                    <strong>Jeśli Twoje dziecko ma problemy z:</strong>
                  </p>
                    <ul class="px-3">
                      <li>nauką czynności samoobsługi (m.in. ubieranie, wiązanie sznurowadeł, zapinanie guzików),</li>
                      <li>nauką trzymania sztucy,</li>
                      <li>koordynacją obu rąk podczas zabaw manipulacyjnych,</li>
                      <li>koordynacją ruchową</li>
                  </ul>
                  <p class="card-text px-3">
                    <strong>Jeśli Twoje dziecko:</strong>
                  </p>
                    <ul class="px-3">
                      <li>ma wyraźnie obniżone lub podwyższone napięcie mięśniowe w obrębie kończyny górnej i/lub obręczy barkowej, ma zaburzenia kontroli wzrokowo-ruchowej,</li>
                      <li>wykonuje czynności wymagające dużej precyzji zbyt wolno lub za szybko i niedbale,</li>
                      <li>szybkość ruchów dziecka nie jest dostosowana do zadania,</li>
                      <li>nie lubi dotykać nowych i różnorodnych faktur,</li>
                      <li>domaga się zdecydowanego i mocnego ucisku dłoni np. siada na własnych dłoniach, bardzo mocno zaciska ręce na przedmiotach, uderza rękami w przedmioty o ostrych i wyraźnych fakturach (dostarcza sobie doznań proprioceptywnych)</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="divider"></div>
