<% layout('layouts/boilerplate') %>

<img class="img-fluid w-100" id="legoBg" src="/images/lego.jpg">
<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title">
        <h1>TERAPIA I METODY PRACY</h1>
        <hr>
    </div>
    <h4 class="text-center">W RAMACH POMOCY PSYCHOLOGICZNO-PEDAGOGICZNEJ W NASZYM PRZEDSZKOLU ORGANIZOWANE SĄ NASTĘPUJĄCE ZAJĘCIA SPECJALISTYCZNE</h4>
    
      <div class="row g-0 align-items-center reveal1">
        <div class="col-md-12 col-lg-4 cardImg">
          <img src="/images/terapia-i-metody-pic01.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-12 col-lg-8">
          <div class="card-body">
            <h5 class="card-text px-3 pt-2">TERAPIA INTEGRACJI SENSORYCZNEJ</h5>
            <p>Terapia integracji sensorycznej przeznaczona jest dla dzieci, 
              u których stwierdza się zaburzenia przetwarzania sensorycznego (zaburzenia SI).</p>
            <p>Na terapię integracji sensorycznej trafiają dzieci nadmiernie lub zbyt mało aktywne, mające trudności z koncentracją, 
              z rysowaniem, liczeniem, opóźnionym rozwojem mowy, słabym rozwojem ruchowym, zaburzeniami równowagi, koordynacji. 
              Ponadto problemami słuchowymi  i  wzrokowymi. Przy zaburzeniach integracji sensorycznej wtórnie pojawiają się także 
              problemy emocjonalne, społeczne, niska samoocena.</p>
              <ul>
                <li>Podczas terapii integracji sensorycznej odbywa się stymulacja ośrodkowego układu nerwowego.  
                  Stosowane ćwiczenia zawsze są  dobrane do aktualnych możliwości psychoruchowych dziecka. 
                  Podczas terapii nie uczy się wykonywania nowych czynności, lecz poprzez nowe wzorce ruchowe powoduje się 
                  właściwe przetwarzanie informacji sensorycznych.</li>
                <li>Zajęcia w formie zabaw odbywają się w sali, w której na specjalnej konstrukcji zawieszone są przyrządy do ćwiczeń. 
                  Sala wyposażona jest w urządzenia do stymulacji systemów: przedsionkowego, proprioceptywnego, dotykowego, oraz w pomoce do 
                  usprawniania układów: słuchowego, wzrokowego i węchowego.</li>
                <li>Dziecko ma szansę poprzez wspaniałą zabawę usprawnić własne działanie, lepiej się zorganizować, powiązać to co słyszy z tym co widzi 
                  i czuje. Doświadczać świata. Skoordynować różne zmysły</li>
              </ul>
              <p>
              O sukcesie terapii SI mówimy wtedy, kiedy dziecko zaczyna lepiej funkcjonować i przenosi umiejętności zdobywane na sali na codzienne aktywności 
              oraz kiedy zauważają to rodzice, bliscy i nauczyciele dziecka
              </p>
          </div>
        </div>
      </div>
    </div>

<div class="card mt-5 py-3 justify-content-center align-items-center reveal2">
  <div class="container-fluid mx-0 px-5">
    <div class="row g-0 align-items-center">
      <div class="col-md-12 col-lg-8">
        <div class="card-body p-0">
          <p class="card-text px-3 pt-2">
            Terapia pedagogiczna to specjalistyczne działania mające na celu niesienie pomocy dzieciom ujawniającym różnego rodzaju nieprawidłowości rozwoju i zachowania. Zaburzenia te koryguje się poprzez odpowiednie oddziaływania specjalistyczne o charakterze psychologiczno - pedagogicznym
          </p>
          <p class="card-text px-3 pt-2">
            Celem terapii pedagogicznej jest:
            - Stymulowanie i usprawnianie rozwoju funkcji psychomotorycznych
            - Wyrównywanie braków w wiadomościach i umiejętnościach dzieci
            - Eliminowanie niepowodzeń oraz ich emocjonalnych i społecznych konsekwencji
            - dzieci wymagają wyrównywania braków w sferze psychicznej w skutek doświadczania negatywnych ocen i kar, a więc zainteresowanie ich tym co jest dla nich atrakcyjne i możliwe do osiągnięcia oraz dostrzeganie 
            </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 cardImg">
        <img src="/images/terapia-i-metody-pic02.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="row g-0 align-items-center reveal1">
  <div class="col-md-12 col-lg-4 cardImg">
    <img src="/images/terapia-i-metody-pic03.jpg" class="img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-12 col-lg-8">
    <div class="card-body">
      <h5 class="card-text px-3 pt-2">REWALIDACJA</h5>
      <p class="card-text px-3 pt-2">
        Usprawnianie zaburzonych funkcji rozwojowych i intelektualnych.
        Celem zajęć z zakresu rewalidacji indywidualnej jest wyrównanie braków w zakresie intelektualnym i 
        psychoruchowym dzieci spowodowanych zaburzeniami somatycznymi, psychicznymi bądź niesprzyjającymi 
        warunkami rodzinnymi i środowiskowymi. 
      </p>
      <h5 class="card-text px-3 pt-2">TERAPIA RĘKI</h5>
      <p class="card-text px-3 pt-2">
        Podstawą programu „ terapia ręki” jest traktowanie trudności dziecka w zakresie precyzyjnych ruchów 
        rąk jako problemu tkwiącego w całym rozwoju psychoruchowym dziecka. Oznacza to, że pracując nad małą 
        motoryką dziecka należy skupić się na funkcjonowaniu całego ciała, nie tylko dłoni czy ręki. 
      </p>
      <ul>Cele terapii ręki jest m.in:
        <li>poprawa sprawności ruchowej kończyn górnych,</li>
        <li>udoskonalenie sprawności manipulacyjnej rąk,</li>
        <li>udoskonalenie czynności samoobsługowych,</li>
        <li>udoskonalenie wykonywania kontrolowanych i precyzyjnych ruchów palców,</li>
        <li>doskonalenie umiejętności chwytu,</li>
        <li>doskonalenie pisania (grafomotoryki),</li>
        <li>doskonalenie koordynacji pracy obu rąk,</li>
        <li>doskonalenie koordynacji wzrokowo-ruchowej,</li>
        <li>wspomaganie utrzymywania prawidłowej postawy,</li>
        <li>poprawa koncentracji.</li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
<div class="divider"></div>
