<% layout('layouts/boilerplate') %>

<img class="img-fluid" id="legoBg" src="/images/lego.jpg">
<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>TERAPIA LOGOPEDYCZNA</h1>
        <hr>
    </div>

<div class="card mt-2 py-3 justify-content-center align-items-center">
  <div class="container-fluid mx-0 px-5">
    <div class="row g-0 align-items-center">
      <div class="col-md-12 col-lg-4 cardImg">
        <img src="/images/terapia-logopedyczna-pic01.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-12 col-lg-8">
        <div class="card-body p-0">
          <p class="card-text px-3 pt-2">
            Przez terapię logopedyczną rozumiemy całość specyficznych, zamierzonych oddziaływań ukierunkowanych na usunięcie wszelkich zakłóceń procesu porozumiewania się (od prostych wad wymowy do niemożności mówienia włącznie). Oddziaływania te mają na celu:
            </p>
            <ul>
                <li>usuwanie zaburzeń mowy,</li>
                <li>wyrównywanie opóźnień rozwoju mowy</li>
                <li>wypracowanie odpowiedniego poziomu sprawności językowej,</li>
                <li>likwidację przyczyn i skutków pierwotnych oraz wtórnych, do których zalicza się zarówno </li>
                <li>psychologiczne jak i pedagogiczne konsekwencje zaburzeń mowy.</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="divider"></div>
