<% layout('layouts/boilerplate') %>

<img class="img-flex" id="legoBg" src="/images/lego.jpg">
<div class="container-fluid mx-0 px-5">
    <div class="card mt-5 justify-content-center align-items-center">
      <div class="card-title p-3">
          <h1>CENNIK</h1>
          <hr>
      </div>
      <div class="card w-75">
        <img src="/images/cennik-pic01.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <p class="card-text"><b>Czesne miesięczne </b> wynosi: 800 zł + wyżywienie (13 zł stawka żywieniowa – dzienna). <br>
            Czesne jest płatne do 5 dnia każdego miesiąca. <br> Wpłaty można dokonywać bezpośrednio w przedszkolu u Intendenta lub przelewem na rachunek bankowy.</p>
          <p class="card-text"><b>Wpisowe:</b> 800zł</p>
          <p class="card-text"><b>Nr konta:</b> 89 1140 2004 0000 3902 7832 0517</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="divider"></div>