<% layout('layouts/boilerplate') %>
<div class="container-fluid mx-0 px-5">
    <div class="card mt-5 justify-content-center align-items-center">
      <div class="card-title p-3">
          <h1>GALERIA</h1>
          <hr>
      </div>
      
        <div class="row g-0 align-items-center">

            <div class="card-body p-0">
              <h1 class="card-text px-3 ">
                  STRONA W BUDOWIE
              </h1>
            </div>

        </div>
      </div>
    </div>
  </div>
  
  <div class="divider"></div>