<% layout('layouts/boilerplate') %>

<div id="frontPageCarousel" class="carousel slide carousel-fade pb-3" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/carousel02-teacher-and-kids.jpg" class="d-block w-100" alt="nauczycielka w przedszkolu Dobra Wrozka pomaga dzieciom w pracy">
      </div>
      <div class="carousel-item">
        <img src="/images/carousel01-kid-smiling.jpg" class="d-block w-100" alt="dziecko w przedszkolu Dobra Wrozka usmiecha sie i bawi">
      </div>
      <div class="carousel-item">
      <img src="/images/carousel03-kids-playing.jpg" class="d-block w-100" alt="dzieci w przedszkolu Dobra Wrozka bawia sie">
      </div>
  </div>
</div> 

<div class="container my-5" id="blockLinks">
<div class="row justify-content-evenly">
    <div class="col-auto"><img src="/images/mid-section-item1.png" alt="" class="img-fluid p-2 m-1 buildingBlock1"></div>
    <div class="col-auto"><img src="/images/mid-section-item2.png" alt="" class="img-fluid p-2 m-1 buildingBlock2"></div>
    <div class="col-auto"><img src="/images/mid-section-item3.png" alt="" class="img-fluid p-2 m-1 buildingBlock1"></div>
    <div class="col-auto"><img src="/images/mid-section-item4.png" alt="" class="img-fluid p-2 m-1 buildingBlock2"></div>
</div>
</div> 
</div> 

<div id="blockquote">
<figure class="text-center w-75 mx-auto mt-5">
  <blockquote class="blockquote">
    <p>Dzieci są nadzieją, która rozkwita wciąż na nowo, projektem, który nieustannie się urzeczywistnia, przyszłością, która pozostaje zawsze otwarta</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <i>Jan Paweł II</i>
  </figcaption>
</figure>
</div>

<div>
<img src="/images/kredki.png" alt="" class="w-100" id="kredki">
</div>