
<nav class="navbar navbar-expand-md navbar-light">        
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navAltMarkup" aria-controls="navAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navAltMarkup">
        <img src="/images/cloud-background.svg" alt="cloud background" class="img-fluid" id="cloudBackground">
      <!-- <img src="/images/wrozka-logo.svg" alt="Dobra Wrozka logo" class="img-fluid" id="wrozkaLogo"> -->
      <div class="navbar-nav">
        <div id="leftMenu">
          <div style="position: relative;">
            <a class="nav-link active" href="#" id="aboutPreschool" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
              o przedszkolu
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutPreschool">
              <li><a class="dropdown-item" href="/views/o-przedszkolu/nasza-misja.ejs">nasza misja</a></li>
              <li><a class="dropdown-item" href="#">wyżywienie</a></li>
              <li><a class="dropdown-item" href="#">rozkład dnia</a></li>
              <li><a class="dropdown-item" href="#">zajęcia adaptacyjne</a></li>
            </ul>
          </div>
        <span class="material-symbols-outlined">local_florist</span>
        <div style="position: relative;">
          <a class="nav-link" href="#" id="preschoolOffer" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            nasza oferta
          </a>
          <ul class="dropdown-menu" aria-labelledby="preschoolOffer">
            <li><a class="dropdown-item" href="#">zajęcia dodatkowe (wyjazdy i imprezy)</a></li>
            <li><a class="dropdown-item" href="#">program nauczania</a></li>
            <li><a class="dropdown-item" href="#">grupa żłobkowa</a></li>
          </ul>
        </div>
        <span class="material-symbols-outlined">local_florist</span>
        <div style="position: relative;">
          <a class="nav-link" href="#" id="preschoolGallery" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            galeria
          </a>
          <ul class="dropdown-menu" aria-labelledby="preschoolGallery">
            <li><a class="dropdown-item" href="#">spacer wirtualny</a></li>
          </ul>
          </div>
      </div>
      <div id="rightMenu">
        <a class="nav-link" href="#">cennik</a>
        <span class="material-symbols-outlined">local_florist</span>
        <div style="position: relative;">
          <a class="nav-link" href="#" id="therapyGroup" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            grupa terapeutyczna
          </a>
            <ul class="dropdown-menu" aria-labelledby="therapyGroup">
              <li><a class="dropdown-item" href="#">integracja</a></li>
              <li><a class="dropdown-item" href="#">autyzm</a></li>
            </ul>
        </div>
        <span class="material-symbols-outlined">local_florist</span>
        <a class="nav-link" href="#">kontakt</a>
      </div>
    </div>
    </div>     
</nav> 