#frontPageCarousel {
    position: relative;
    z-index: -1;
}

#blockquote {
    background-image: url('/images/color-balls.jpg');
        padding: 20px;
        
    }
.blockquote {
    font-family: 'Alex Brush', cursive;
    font-size: 2.0rem;
    text-shadow: 5px 1px 30px black;
        color: white;
        padding-top: 20px;
        display: flex;
}

.buildingBlock1 {
    transform: rotate(2grad);
}
.buildingBlock1:hover {
    transform: rotate(-10grad);
    transition: transform 0.5s;
}

.buildingBlock2 {
    transform: rotate(-2grad);
}

.buildingBlock2:hover {
    transform: rotate(10grad);
    transition: transform 0.5s;
}

#blockLinks {
    width: 50%;
}

@media (min-width: 768px) {
  

    .buildingBlock1 {
        max-width: 50px;
        margin: 5px 10px;
    }

    .buildingBlock2 {
        max-width: 50px;
        margin: 5px 10px;
    }
    #blockLinks {
        width: 70%;
    } 
}

@media (min-width: 992px) {
    #blockLinks {
        width: 100%;
    } 
}

@media (min-width: 1200px) {
    .buildingBlock1 {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 250px;
    }

    .buildingBlock2 {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 250px;
    }

    #blockLinks {
        width: 100%;
    }

}