.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.navbar-nav {
  border-radius: 20px;
  font-family: 'Pangolin', cursive;
}

/* .navbar-nav li {
  text-transform: uppercase;
} */

.navbar-toggler {
  border: none;
}

#logoNavbar {
  display: none;
  margin: 0;
  padding: 0;
}

@media (min-width < 767px) {
.navbar-nav {
  background-color: none;
  font-size: 1rem;
}

.nav-item {
  margin-left: 10px;
}

#logoNavbar {
  padding: 0;
  display: none;
  visibility: hidden;
}

.navbar-collapse {
  margin-left: 10px;
  padding-top: 35px;
}

#logoNavbar {
  display: none;
}

}

@media (min-width: 768px) {
.navbar {
  top: 30px;
  background: none;
}

  .nav-item {
    font-size: 0.8rem;
    margin: 0 auto;
  }

  .navbar-nav {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 44px;
    font-size: 1.1rem;
  }

  #logoNavbar {
    max-width: 200px;
    display: block;
    position: relative;
    bottom:10px;
  }

  #navbarNavDropdown {
    margin: 0 30px;
  }
}

@media (min-width: 992px) {
  .navbar {
    top: 50px;
  }

  .nav-item {
  font-size: 1rem;
}

#logoNavbar {
  max-width: 280px;
}

}

@media (min-width: 1200px) {

  .navbar {
    top: 60px;
  }

  .nav-item {
    font-size: 1.1rem;
  }
  
 #logoNavbar {
  max-width: 340px;
}

}