
.card {
    font-family: 'Grandstander';
    border: none;
    text-align: justify;
}

.card-title {
    font-family: 'Grandstander';
    color: orange;
}

@media (min-width < 768px) {
    
}

@media (min-width: 768px) {
    #legoBg {
        max-height: 120px;
    }
}

@media (min-width: 992px) {
    #legoBg {
        max-height: 150px;
    }
}

@media (min-width: 1200px) {
    #legoBg {
        max-height: 200px;
    }
}