<% layout('layouts/boilerplate') %>

<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>ADAPTACJA</h1>
        <hr>
    </div>
    
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-4 cardImg">
            <img src="/images/adaptacja-pic01.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 ">
                Zależy nam, żeby dzieci czuły się bezpiecznie. Prowadzimy stopniową adaptację, 
                najpierw w obecności rodziców, której tempo dostosowujemy do potrzeb. Trzeba przyznać, 
                że czas w którym dziecko ma iść pierwszy raz do rówieśników jest trudny. Dla dziecka 
                jest to nowa sytuacja. Rodzice muszą w pełni zaufać placówce i być może pierwszy raz 
                pozostawić swój skarb pod czyjąś opieką. Opiekunki i nauczycielki przyjmując nowe dziecko, 
                tak naprawdę przyjmują całą jego rodzinę. Ważne w tym wszystkim jest to, aby zrozumieć, 
                że wszyscy jesteśmy połączeni. Połączone są nasze emocje. Moment przyjścia nowego dziecka 
                dotyczy wszystkich. W związku z tym wymaga to od nas otwartości, zrozumienia, akceptacji i zaufania.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
