<% layout('layouts/boilerplate') %>

<img class="img-fluid" id="legoBg" src="/images/lego.jpg">
<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>KADRA</h1>
        <hr>
    </div>
    
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 ">
                Nauczyciel jest obok rodziców jednym z pierwszych autorytetów i wzorców osobowych dziecka. 
                Ponieważ pod opieką nauczyciela często dziecko spędza więcej czasu, niż z rodzicami, dlatego 
                od jego zaangażowania, wiedzy, umiejętności i doświadczenia zależy jak wiele dziecko zyska w 
                okresie przedszkolnym w każdej sferze swojego rozwoju – od rozwoju fizycznego (bezpieczeństwa, 
                higieny i żywienia) począwszy, poprzez rozwój społeczny i emocjonalny (układanie relacji z innymi, 
                umacnianie się w poczuciu własnej wartości), a skończywszy na rozwoju intelektualnym. 
                Wiedząc, jak ważną rolę w życiu młodego człowieka pełni nauczyciel staramy się, aby w naszym zespole 
                były wyłącznie osoby kreatywne, życzliwe i cierpliwe w stosunku do swoich podopiecznych. Naszą Kadrę 
                tworzy grupa wykształconych, ambitnych, twórczych nauczycieli, zaangażowanych w pracę z dziećmi. 
                Posiadają pełne kwalifikacje uprawniające do pracy w przedszkolu wymagane przez MEN, liczne dodatkowe 
                kursy i szkolenia.                
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 cardImg">
          <img src="/images/kadra-pic01.jpg" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
