<% layout('layouts/boilerplate') %>

<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>NASZA MISJA</h1>
        <hr>
    </div>
    
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-4 cardImg">
          <img src="/images/nasza-misja-pic01.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 pt-2">Dobrą Wróżkę tworzą ludzie z pasją oddani pracy z dziećmi. Wszystkie nauczycielki posiadają pełne kwalifikacje do pracy w przedszkolu wymagane przez MEN.
              Każdego dnia uważnie i troskliwie towarzyszymy dziecku w trakcie jego podróży w dorosłość.</p>
              <p class="card-text px-3">Naszym pragnieniem jest aby dziecko chętnie uczęszczało na zajęcia w przedszkolu, które zapewni mu jak najlepsze warunki dalszego rozwoju oraz kontakt z rówieśnikami.
              Kolejnym ważnym celem jest jak najlepsze przygotowanie dziecka do nauki w szkole, rozwijanie zainteresowań i swobodne wyrażanie siebie.
              Wierzymy, że aktywność fizyczna oraz swobodna zabawa dziecka jest bardzo istotnym elementem w procesie rozwoju małego człowieka..
              Organizujemy wycieczki i wyjścia do teatru oraz urodzinki dla dzieci. Jesteśmy otwarci na propozycje i słuchamy siebie nawzajem.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-5 py-3 justify-content-center align-items-center cardTop">
  <div class="container-fluid mx-0 px-5">
    <div class="row g-0 align-items-center">
      <div class="col-md-12 col-lg-8">
        <div class="card-body p-0">
          <p class="card-text px-3">
            <strong>W naszym przedszkolu:</strong>
          </p>
            <ul class="px-3">
              <li>Stwarzamy naszym wychowankom warunki do wszechstronnego rozwoju na skalę ich potrzeb oraz możliwości,</li>
              <li>Kreujemy postawy aktywne, twórcze, wspieramy działania dziecka w różnych dziedzinach aktywności,</li>
              <li>Rozbudowujemy ich zainteresowania otaczającym światem przyrodniczym, kulturowym i społecznym,</li>
              <li>Pomagamy dzieciom w pozytywnym postrzeganiu siebie i rozumieniu swoich uczuć,</li>
              <li>Umożliwiamy rodzicom uczestnictwo w codziennym życiu placówki: organizujemy imprezy okolicznościowe, zajęcia otwarte, zajęcia integracyjne dla dzieci i rodziców,</li>
              <li>Wspomagamy rozwój dziecka zgodnie z jego wrodzonym potencjałem i możliwościami,</li>
              <li>Stwarzamy sytuacje edukacyjne pozwalające na poznawanie i stopniowe rozumienie otaczającej rzeczywistości i samego siebie,</li>
              <li>Wspieramy dziecko w budowaniu i odkrywaniu swojego miejsca w różnych grupach społecznych,</li>
              <li>Wprowadzamy wychowanka w świat wartości i postaw opartych na kulturze materialnej i duchowej rodziny, regionu, kraju i świata</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 cardImg">
        <img src="/images/nasza-misja-pic02.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
