<% layout('layouts/boilerplate') %>

<img class="img-fluid" id="legoBg" src="/images/lego.jpg">
<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>NASZ BUDYNEK</h1>
        <hr>
    </div>
    
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 ">
              Budynek placówki leży w malowniczej części Bielska dzielnicy Kamienica na ulicy Orzeszkowej 89. 
              Położony jest w niedalekiej odległości od ścisłego centrum miasta jednak w bardzo kameralnym i urokliwym otoczeniu przyrody z widokiem na góry. 
              Obiekt posiada wszelkie niezbędne pozwolenia, aby dzieci spędzające w nim czas były bezpieczne oraz ma najwyższej klasy zabezpieczenia 
              przeciwpożarowe. Posiadamy także parking, który pozwoli rodzicom w bezpiecznych warunkach odprowadzić dziecko do placówki.
            </p>
            <p class="card-text px-3 mb-3">
              W budynku znajdują się 4 przestrzenne sale, łazienki z małymi ubikacjami, umywalkami i prysznicami dostosowanymi do wzrostu najmłodszych 
              w celu utrzymania czystości i higieny osobistej na najwyższym poziomie. Sale wyposażone są w specjalne urządzenia wentylacyjne 
              oraz klimatyzację zapewniające odpowiedni mikroklimat (stała wymiana świeżego powietrza). Mamy także salę do zajęć integracji sensorycznej a także gabinet przeznaczony do zajęć indywidualnych.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 cardImg">
          <img src="/images/nasz-budynek-pic01.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-5 py-3 justify-content-center align-items-center reveal1">
  <div class="container-fluid mx-0 px-5">
    <div class="row g-0 align-items-center">
      <div class="col-md-12 col-lg-4 cardImg">
        <img src="/images/nasz-budynek-pic02.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-12 col-lg-8">
        <div class="card-body p-0">
          <p class="card-text px-3 pt-2">
            Organizując przestrzeń kierujemy się stylem skandynawskich placówek.
            Zrezygnowaliśmy z popularnych bohaterów bajek na ścianach, czy wielokolorowych wykładzin na rzecz prostych form i wąskiej, naturalnej palety barw. Wnętrze jest tłem
            dla kolorowych prac tworzonych przez dzieci. Tłem do kreatywnej zabawy jest zaś dominująca biel.
            </p>
            <p class="card-text px-3">
                Sale są podzielone na kąciki różnych aktywności oraz wyposażone w nowe pomoce dydaktyczne i atestowane meble oraz zabawki.
                Kolorowa szatnia sprzyja nauce samodzielnego ubierania i rozbierania się w komfortowych warunkach.
                              
            </p>
            <p class="card-text px-3">
                Dzieci mogą korzystać z atrakcyjnego placu zabaw na którym znajdują się atestowane urządzenia do zabawy oraz rozwoju fizycznego oraz pełnego zieleni ogródka.           
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
