<% layout('layouts/boilerplate') %>

<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>WYPOCZYNEK I ZABAWA</h1>
        <hr>
    </div>
    
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 ">
                W naszym przedszkolu dzieci wypoczywają po obiedzie. Młodsze mają możliwość poobiedniej drzemki, a starsze w miarę potrzeby drzemki lub biernego/czynnego relaksu. Podczas odpoczynku dzieci słuchają bajek, muzyki relaksacyjnej, rysują, układają puzzle. Po obiedzie nauczyciele dużo czasu poświęcają na czytanie dzieciom książek. Przedszkolaki wypoczywają na specjalnych, bardzo wygodnych leżakach, ale w naszym przedszkolu nie ma obowiązku spania. 
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 cardImg">
          <img src="/images/wypoczynek-pic01.jpg" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-5 py-3 justify-content-center align-items-center cardTop">
  <div class="container-fluid mx-0 px-5">
    <div class="row g-0 align-items-center">
      <div class="col-md-12 col-lg-4 cardImg">
        <img src="/images/wypoczynek-pic02.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-12 col-lg-8">
        <div class="card-body p-0">
          <p class="card-text px-3 pt-2">
            Staramy się, aby dzieci przebywały codziennie na placu zabaw. Nasze przedszkole posiada plac zabaw urządzony zestawami zabawowymi .Urządzenia posiadają wymagane certyfikaty bezpieczeństwa, są kolorowe, estetyczne 
i atrakcyjne dla dzieci. 

            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
