<% layout('layouts/boilerplate') %>

<img class="img-flex" id="legoBg" src="/images/lego.jpg">
<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>WYŻYWIENIE</h1>
        <hr>
    </div>
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-4 cardImg">
            <img src="/images/wyzywienie-pic01.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 mt-3">
                Świeżutkie posiłki w przedszkolu są dostarczane przez firmę cateringową. Dzięki takiemu rozwiązaniu zapewniamy pełną możliwość indywidualnego doboru diety właściwej dla potrzeb Twojego maluszka, tj.:
            </p>
            <ul>
                <li>dietę standardową</li>
                <li>dietę wegetariańską</li>
                <li>dietę wegańską</li>
                <li>ietę bez laktozy</li>
                <li>dietę bezglutenową</li>
            </ul> 
            <p class="card-text px-3 ">Pełne wyżywienie:</p> 
            <ul>
                <li>dieta standardowa – 13 zł</li>
                <li>dieta indywidualna – 14,50 zł</li>
            </ul> 
            
            <p class="card-text px-3 mb-3">Rodzaje posiłków:</p>
            <ul>
                <li>śniadanie</li>
                <li>drugie śniadanie (owoce, warzywa)</li>
                <li>zupa</li>
                <li>drugie danie</li>
                <li>podwieczorek</li>
            </ul>   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
