<nav class="navbar navbar-expand-md navbar-light w-100">
  <div class="container-fluid px-4">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav w-100">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            o przedszkolu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/o-przedszkolu/nasza-misja">nasza misja</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/nasz-budynek">nasz budynek</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/wyzywienie">wyżywienie</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/wypoczynek-i-zabawa">wypoczynek i zabawa</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/kadra">kadra</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/adaptacja">adaptacja</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            oferta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/oferta/program-edukacyjny">program edukacyjny</a></li>
            <li><a class="dropdown-item" href="/oferta/rozwoj-jezykowy">rozwój językowy</a></li>
            <li><a class="dropdown-item" href="/oferta/zajecia-dodatkowe">zajęcia dodatkowe</a></li>
            <li><a class="dropdown-item" href="/oferta/grupa-zlobkowa">grupa żłobkowa</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria">galeria</a>
        </li>
        <li class="nav-item" href="/" id="logoNavbarWrapper">
          <a href="/"><img src="/images/cloud-background.png" class="img-fluid" alt="Dobra_Wrozka_logo" id="logoNavbar"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            kształcenie specjalne
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/ksztalcenie-specjalne/kiedy-do-specjalisty">kiedy skonsultować się ze specjalistą</a></li>
            <li><a class="dropdown-item" href="/ksztalcenie-specjalne/terapia-i-metody-pracy">terapia i metody pracy</a></li>
            <li><a class="dropdown-item" href="/ksztalcenie-specjalne/terapia-logopedyczna">terapia logopedyczna</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cennik">cennik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kontakt">kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
