<nav class="navbar navbar-expand-md navbar-light w-100">
  <div class="container-fluid px-4">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav w-100">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            o przedszkolu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/o-przedszkolu/nasza-misja">nasza misja</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/nasz-budynek">nasz budynek</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/wyzywienie">wyżywienie</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/wypoczynek-i-zabawa">wypoczynek i zabawa</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/kadra">kadra</a></li>
            <li><a class="dropdown-item" href="/o-przedszkolu/adaptacja">adaptacja</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            oferta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/oferta/program-edukacyjny">program edukacyjny</a></li>
            <li><a class="dropdown-item" href="/oferta/rozwoj-jezykowy">rozwój językowy</a></li>
            <li><a class="dropdown-item" href="/oferta/zajecia-dodatkowe">zajęcia dodatkowe</a></li>
            <li><a class="dropdown-item" href="/oferta/grupa-zlobkowa">grupa żłobkowa</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria">galeria</a>
        </li>
        <li class="nav-item" href="/" id="logoNavbarWrapper">
          <a href="/"><img src="/images/cloud-background.png" class="img-fluid" alt="Dobra_Wrozka_logo" id="logoNavbar"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            kształcenie specjalne
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/ksztalcenie-specjalne/kiedy-do-specjalisty">kiedy skonsultować się ze specjalistą</a></li>
            <li><a class="dropdown-item" href="#">terapia i metody pracy</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">cennik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- 
<nav class="navbar navbar-expand-md navbar-light">        
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navAltMarkup" aria-controls="navAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navAltMarkup">
        <img src="/images/cloud-background.svg" alt="cloud background" class="img-fluid" id="cloudBackground">
      <!-- <img src="/images/wrozka-logo.svg" alt="Dobra Wrozka logo" class="img-fluid" id="wrozkaLogo"> -->
      <div class="navbar-nav">
        <div id="leftMenu">
          <div style="position: relative;">
            <a class="nav-link active" href="#" id="aboutPreschool" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
              o przedszkolu
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutPreschool">
              <li><a class="dropdown-item" href="/views/o-przedszkolu/nasza-misja.ejs">nasza misja</a></li>
              <li><a class="dropdown-item" href="#">wyżywienie</a></li>
              <li><a class="dropdown-item" href="#">rozkład dnia</a></li>
              <li><a class="dropdown-item" href="#">zajęcia adaptacyjne</a></li>
            </ul>
          </div>
        <span class="material-symbols-outlined">local_florist</span>
        <div style="position: relative;">
          <a class="nav-link" href="#" id="preschoolOffer" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            nasza oferta
          </a>
          <ul class="dropdown-menu" aria-labelledby="preschoolOffer">
            <li><a class="dropdown-item" href="#">zajęcia dodatkowe (wyjazdy i imprezy)</a></li>
            <li><a class="dropdown-item" href="#">program nauczania</a></li>
            <li><a class="dropdown-item" href="#">grupa żłobkowa</a></li>
          </ul>
        </div>
        <span class="material-symbols-outlined">local_florist</span>
        <div style="position: relative;">
          <a class="nav-link" href="#" id="preschoolGallery" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            galeria
          </a>
          <ul class="dropdown-menu" aria-labelledby="preschoolGallery">
            <li><a class="dropdown-item" href="#">spacer wirtualny</a></li>
          </ul>
          </div>
      </div>
      <div id="rightMenu">
        <a class="nav-link" href="#">cennik</a>
        <span class="material-symbols-outlined">local_florist</span>
        <div style="position: relative;">
          <a class="nav-link" href="#" id="therapyGroup" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            grupa terapeutyczna
          </a>
            <ul class="dropdown-menu" aria-labelledby="therapyGroup">
              <li><a class="dropdown-item" href="#">integracja</a></li>
              <li><a class="dropdown-item" href="#">autyzm</a></li>
            </ul>
        </div>
        <span class="material-symbols-outlined">local_florist</span>
        <a class="nav-link" href="#">kontakt</a>
      </div>
    </div>
    </div>     
</nav>  -->