<% layout('layouts/boilerplate') %>

<img class="img-flex" id="legoBg" src="/images/lego.jpg">
<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>GRUPA ŻŁOBKOWA</h1>
        <hr>
    </div>
    
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-4 cardImg">
            <img src="/images/grupa-zlobkowa-pic01.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 ">
                W żłobku przygotowaliśmy miejsca dla dzieci od 1 do 3 roku życia, 
                w którym sprawujemy opiekę nad najmłodszymi, wprowadzając ich w edukację. 
                Dla maluchów w tym wieku rozstanie z rodzicami to duże wyzwanie i zmiana. 
                Jest to także wyjątkowy czas dla jego rodziców i najbliższych. Dlatego dokładamy 
                wszelkich starań, aby każdy maluszek czuł się u nas bezpiecznie, a jego rodzice spokojni. 
                Wierzymy, że jest to bardzo istotny czas w rozwoju dziecka – to wtedy tak silnie 
                kształtujemy młodego człowieka. Korzystając z wiedzy pedagogicznej wiemy jak istotna 
                i efektywna jest edukacja poprzez zabawę. Pobudzamy i aktywizujemy dzieci wykorzystując 
                różnorodne metody. Codziennie staramy się robić to na jak najwyższym poziomie. 
                Pragniemy tworzyć środowisko, w którym z wiedzą, wysokim poczuciem własnej wartości i 
                dziecięcą radością idą dalej poznawać świat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
