<% layout('layouts/boilerplate') %>

<img class="img-flex" id="legoBg" src="/images/lego.jpg">
<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>PROGRAM EDUKACYJNY</h1>
        <hr>
    </div>
      <div class="row g-0 align-items-center reveal1">
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 ">
                Naszym celem jest rozwinięcie pełnego <strong>potencjału intelektualnego, twórczego, językowego, 
                społecznego i fizycznego </strong>każdego dziecka. <br>Lata spędzone w przedszkolu są okresem najbardziej t
                wórczym w życiu każdego człowieka. Nigdy potem dziecko nie będzie się już tak szybko i tak intensywnie 
                uczyło, poznawało otaczający świat. Dlatego nasza placówka wspiera przedszkolaka w poszukiwaniu 
                i rozwijaniu drzemiących w nim talentów, a także, co równie istotne wzmacnia wiarę we własne możliwości. 
                Jednocześnie chcemy, aby lata spędzone w naszym przedszkolu były czasem <strong>radości, zabawy, uśmiechu</strong>.<br> 
                Program przedszkola zakłada staranne przygotowanie dzieci do edukacji szkolnej. 
                Pamiętamy jednak o tym, że dzieciństwo i lata spędzone w przedszkolu nie są jedynie przygotowaniem 
                do życia, ale są prawdziwym życiem. Pracujemy w oparciu o program wychowania przedszkolnego 
                wydawnictwa WSiP zgodny z podstawą programową MENiS. Program ten zawiera poziomy o wzrastającym stopniu 
                trudności, przez co nauczyciel dostosowuje treści do różnic indywidualnych i potrzeb dzieci. <br>
                Proces edukacji w naszym przedszkolu trwa przez cały dzień, a nie tylko w czasie tzw. zajęć planowanych. 
                Zadaniem naszym jest organizowanie różnych sytuacji edukacyjnych sprzyjających nawiązaniu 
                przez dziecko wielorakich kontaktów społecznych, realizowaniu dążeń dziecka do wypowiadania siebie 
                w twórczości plastycznej, muzycznej, ruchowej i werbalnej.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 cardImg">
          <img src="/images/program-edukacyjny-pic01.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
  </div>

  <div class="card mt-5 py-3 justify-content-center align-items-center reveal2">
    <div class="container-fluid mx-0 px-5">
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-4 cardImg">
            <img src="/images/program-edukacyjny-pic02.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3">
              <strong>W pracy z dziećmi wykorzystujemy różne, nowatorskie metody. Stosujemy między innymi:</strong>
            </p>
              <ul class="px-3">
                <li>Elementy metody sylabowego czytania wg. J. Cieszyńskiej,</li>
                <li>Elementy metod nauczania matematyki wg M. Gruszczyk-Kolczyńskiej,</li>
                <li>Elem. pedagogiki C. Freineta,</li>
                <li>Aktywne słuchanie muzyki poważnej (wg Batti Strauss),</li>
                <li>Elem. pedagogiki zabawy (Klanza),</li>
                <li>Elementy metody Dobrego startu,</li>
                <li>Elementy gimnastyki twórczej K. Orffa,</li>
                <li>Cała Polska czyta dzieciom,</li>
                <li>„Wesołe Przedszkole” M. Kownackiej,</li>
                <li>Elem. metody Kmessów,</li>
                <li>Piosenki angielskie,</li>
                <li>Zabawy po angielsku,</li>
                <li>Glottodydaktyki, w czasie której dzieci mogą bawić się klockami Logo, wprowadzającymi je w świat głosek i liter.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5 justify-content-center align-items-center reveal1">
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 ">
                Nad prawidłową realizacją programu dydaktyczno-wychowawczego w przedszkolu czuwa 
                dyrektor przedszkola. Regularnie hospituje zajęcia prowadzone przez nauczycieli. 
                Na koniec roku Rodzice otrzymują pisemną informację na temat dziecka, obejmującą 
                rozwój emocjonalny, społeczny, intelektualny i ruchowy. 
                W trakcie roku odbywają się zebrania dla Rodziców i są organizowane dni otwarte przeznaczone 
                na indywidualną rozmowę z wychowawcą. 
                
                Program muzyczny 
                W naszym przedszkolu stosujemy naturalne przyswajanie języka muzyki. Zapoznajemy dzieci 
                z różnymi instrumentami muzycznymi. Program muzyczny realizujemy poprzez: 
                Aktywne słuchanie i naukę na zajęciach muzyki z repertuaru od dziecięcych piosenek 
                poprzez muzykę rozrywkową, jazz i muzykę poważną 
                Wspólną zabawę, śpiew i taniec – elementy polskich tańców regionalnych, tańca klasycznego 
                i tańca towarzyskiego Zajęcia umuzykalnienia Koncerty edukacyjne z instrumentami orkiestrowymi 
                (skrzypce, wiolonczela, harfa, gitara, obój, trąbka, tuba, …)
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 cardImg">
          <img src="/images/program-edukacyjny-pic03.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
  </div>

</div>

<div class="divider"></div>
