<% layout('layouts/boilerplate') %>

<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>WSZECHSTRONNY ROZWÓJ JĘZYKOWY</h1>
        <hr>
    </div>
    
      <div class="row g-0 align-items-center">
        <div class="col-md-12 col-lg-8">
          <div class="card-body p-0">
            <p class="card-text px-3 ">
                Język angielski w naszym przedszkolu prowadzony jest przez p. Anne Rattenbury posiadającą 
                doskonałą znajomością języka, kwalifikacje i wieloletnie doświadczenie w pracy z dziećmi w wieku 
                przedszkolnym. Zajęcia Musical English są kontynuacją zajęć Musical Babies dla dzieci powyżej 3 lat. 
                Celem zajęć jest już nie tylko osłuchanie się z językiem angielskim, lecz nauka w sposób aktywny 
                i trwały słów, zwrotów i całych zdań. Dzieciom pomaga pacynka programu- królik Ra-Ra Rabbit. 
                Dzieci mają możliwość używania języka w sposób komunikatywny, są zachęcane do eksperymentowania z nim, 
                rytmizowania, śpiewania, oraz tworzenia własnych rymowanek. Nieodzowne  w tym procesie są płyty 
                Musical English, których dziecko aktywnie słucha w domu. Zajęcia są bardzo energiczne, prowadzone w 
                sposób dla dzieci atrakcyjny, efektywny i polisensoryczny. Z ogromną bazą pomocy dydaktycznych. 
                Bez nudnego powtarzania słówek, wypełniania podręczników, czy wpatrywania się w ekran. 
                Dalej najważniejszym celem zajęć Musical English, podobnie jak Musical Babies jest prawidłowa 
                wymowa i akcent, oraz wykształcenie odpowiedniego stylu uczenia się języka – odmiennego dla każdego dziecka. 
                Także istotnie jest nabycie chęci do uczenia się, oraz do wykorzystania wszystkich dostępnych dzieciom 
                narzędzi, po to, aby uodpornić je na fatalny system nauczania języka angielskiego w szkole. 
                Wówczas bowiem zaczyna się prawdziwy problem. Nauka języka w polskiej podstawówce to w większości nuda, 
                przeładowane, choć bajecznie kolorowe i multimedialne podręczniki, wypełnianie niezliczonych zeszytów 
                ćwiczeń pełnych sztampowych zadań, pisanie sprawdzianów, wkuwanie ogromnej ilości nieadekwatnego, 
                zupełnie niepotrzebnego słownictwa, odtwarzanie, a nie tworzenie języka i wręcz uwstecznianie się, 
                a nie zdobywanie nowych, trwałych kompetencji językowych.  <Strong>Stąd tak ważne jest, aby właśnie w wieku, 
                kiedy dzieci są najbardziej chłonne i chętne- wykorzystać wszystkie dostępne im zmysły.</Strong> 
                Nie tracić czasu na kolorowanie i wypełnianie podręczników, siedzenie przy stoliczkach, czy wpatrywanie 
                się w ekran. <strong>Gry i aplikacje multimedialne to bardzo dobre narzędzie dla starszych uczniów a tylko 
                nieuczciwy chwyt reklamowy w uczeniu małych dzieci. </strong> <br> Każde zajęcia Musical English mają określone składowe, 
                co jest niezwykle ważne w edukacji małych dzieci, ze względu na zapewnienie dziecku poczucia bezpieczeństwa 
                i niezbędnej na tym etapie rutyny. Procesowi poznawczemu zawsze towarzyszy bardzo dużo ruchu i muzyki. 
                Dzieci uczą się nie zdając sobie z tego sprawy, przez „kontrolowaną” i twórczą zabawę. Na każdych zajęciach 
                wykorzystywana jest  bogata i zróżnicowana gama autorskich materiałów dydaktycznych (czytaj poniżej).  
                Książeczki z Kartami Pracy Musical English, jakie dzieci otrzymują do domu oprócz płyt mają za zadanie 
                umożliwić dziecku przećwiczenie poznanego materiału w domu, z rodzicem. Karty te wykorzystują sposobność 
                wykonywania prac usprawniających inne zdolności niezwiązane stricte z nauką języka, tj. wycinanie, 
                rysowanie po śladzie, przyporządkowywanie elementów do zbioru, itp.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 cardImg">
          <img src="/images/rozwoj-jezykowy-pic01.jpg" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
