<% layout('layouts/boilerplate') %>

<div class="container-fluid mx-0 px-5">
  <div class="card mt-5 justify-content-center align-items-center">
    <div class="card-title p-3">
        <h1>ZAJĘCIA DODATKOWE</h1>
        <hr>
    </div>
    <div class="row">
      <div class="card col-md-4 col-sm-6 col-xs-12">
        <img src="/images/zajecia-dodatkowe-pic01.jpg" class="card-img-top" alt="...">
        <div class="card-body px-0">
          <h5 class="card-title text-center">Warsztaty Treningu Umiejętności Społecznych</h5>
          <p class="card-text"> Warsztaty prowadzone są przez pedagoga dziecięcego. Celem warsztatów jest między innymi stymulowanie i rozwijanie konkretnych umysłowych umiejętności, trening twórczego myślenia, praktyczne przygotowanie dzieci do świadomego uczestnictwa 
            i odnajdywania się w sytuacjach społecznych, nauka autoprezentacji i rozwijanie osobowości u dzieci.</p>
        </div>
      </div>

      <div class="card col-md-4 col-sm-6 col-xs-12">
        <img src="/images/zajecia-dodatkowe-pic02.jpg" class="card-img-top" alt="...">
        <div class="card-body px-0">
          <h5 class="card-title text-center">Zajęcia rytmiczno-taneczne</h5>
          <p class="card-text"> Zajęcia te mają na celu naukę wybranych technik tanecznych, które prowadzą do prawidłowego rozwoju psychomotorycznego dziecka, jak również rozwijają wyobraźnię i koordynację. Różne rodzaje muzyki kształtują słuch i wrażliwość dziecka.</p>
        </div>
      </div>

      <div class="card col-md-4 col-sm-6 col-xs-12">
        <img src="/images/zajecia-dodatkowe-pic03.jpg" class="card-img-top" alt="...">
        <div class="card-body px-0">
          <h5 class="card-title text-center">Zajęcia logiczne</h5>
          <p class="card-text"> To zajęcia, na których logika i kreatywność wzajemnie na siebie oddziałują. 
            Tę synergię wykorzystujemy po to, by w przyszłości dzieci mogły w pełni uwolnić swój potencjał i 
            korzystać z drzemiących w nich możliwości. Zabawa klockami połączona z naturalną dziecięcą ciekawością 
            prowadzi do eksplozji pomysłowości i szybkiego rozwoju talentów. Wszystko w wyjątkowej atmosferze odkrywczej zabawy.</p>
        </div>
      </div>

      <div class="card col-md-4 col-sm-6 col-xs-12">
        <img src="/images/zajecia-dodatkowe-pic04.jpg" class="card-img-top" alt="...">
        <div class="card-body px-0">
          <h5 class="card-title text-center">Wyjazdy na ściankę wspinaczkową</h5>
          <p class="card-text"> Zajęcia na ściance wspinaczkowej Primaroca w Bielsku-Białej prowadzą instruktorzy sekcji dziecięcej Kinga i Monika, Ania i Hubert sprawią, że dzieci nie tylko zmęczą się i będą się świetnie bawić, ale też nauczą się i rozwiną umiejętności, które umożliwią im dobry start w przygodę zwaną wspinaniem.</p>
        </div>
      </div>

      <div class="card col-md-4 col-sm-6 col-xs-12">
        <img src="/images/zajecia-dodatkowe-pic05.jpg" class="card-img-top" alt="...">
        <div class="card-body px-0">
          <h5 class="card-title text-center">Konie</h5>
          <p class="card-text"> Przedszkolaki raz w miesiącu spędzają czas w Stadninie w Mazańcowicach gdzie do spacerów rekreacyjnych i nauki jazdy przeznacza się dla nich się łagodne i spokojne konie, Jazda konna ma pozytywny wpływ na układ kostno-mięśniowy oraz jest również ważna dla poprawy ich koordynacji ruchowej, rozwija mięśnie zarówno górnej partii ciała jak i nóg.. Cała zabawa (co oczywiste) odbywa się na świeżym powietrzu więc redukuje stres, napięcia i poprawia samopoczucie.</p>
        </div>
      </div>

      <div class="card col-md-4 col-sm-6 col-xs-12">
        <img src="/images/zajecia-dodatkowe-pic06.jpg" class="card-img-top" alt="...">
        <div class="card-body px-0">
          <h5 class="card-title text-center">Narty</h5>
          <p class="card-text"> Zajęcia prowadzone są przez wykwalifikowaną kadrę instruktorów narciarstwa, absolwentów AWF z przygotowaniem i doświadczeniem pedagogicznym.</p>
        </div>
      </div>

      <div class="card col-md-4 col-sm-6 col-xs-12">
        <img src="/images/zajecia-dodatkowe-pic07.jpg" class="card-img-top" alt="...">
        <div class="card-body px-0">
          <h5 class="card-title text-center">Basen</h5>
          <p class="card-text"> W ramach czesnego dzieci uczestniczą w cotygodniowych wyjazdach na basen do Ośrodka Gimnastyki korekcyjnej u. Lompy w Bielsku-Białej. Naukę pływania dal dzieci prowadzi dla nas Firma Neo Sport Damian Babiński dla której bezpieczeństwo w wodzie to nasz priorytet. Bliska obecność specjalisty jest ważna zwłaszcza w początkowym etapie nauki pływania oraz profesjonalizm i dobra zabawa. Zapewniamy fachową opiekę  instruktorów  oraz trenerów  pływania, absolwentów  Akademii Wychowania Fizycznego  posiadających  przygotowanie oraz doświadczenie pedagogiczne.</p>
        </div>
      </div>

      <div class="card col-md-4 col-sm-6 col-xs-12">
        <img src="/images/zajecia-dodatkowe-pic08.jpg" class="card-img-top" alt="...">
        <div class="card-body px-0">
          <h5 class="card-title text-center">Opieka logopedyczna</h5>
          <p class="card-text"> Wszystkie dzieci w przedszkolu objęte są profilaktyką logopedyczną. Po przeprowadzeniu diagnozy, logopeda prowadzi indywidualną odpłatną terapię. Terapia logopedyczna i jej przebieg odbywa się w porozumieniu z Rodzicami. Nauczyciele wychowawcy wspierają terapię poprzez zabawy i wdrażanie nawyku poprawnego mówienia.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="divider"></div>
