
.navbar {
    display:flex;
}
.navbar-nav {
    position: absolute;
    width: 80%;
    display: none;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.1rem;
    align-items: center;
    height: 44px;
    z-index: 3;
    box-shadow: 2px 3px 3px rgba(255, 255, 255, 0.6);
}

.material-symbols-outlined {
    padding: 0 10px;
    display: none;
    color: #f5b3dc;
}

#cloudBackground {
    position: absolute;
    bottom: 30px;
    display: none;
    width: 40%;
    z-index: 2;
}

#frontPageCarousel {
    position: relative;
    top: -17px;
}

#midPageArticle {
    height: 500px;
    z-index: -1;
}

#wrozkaLogo {
    max-width: 30%;
}

.crayon {
    padding: 30px;
    transition: padding 1s;
}

.crayon:hover {
    padding: 0;
}

#quote {
    position: relative;
    bottom: 50px;
    max-width: 50%;
    text-align: center;
    justify-content: center;
    z-index: 3;
    font-family: 'Architects Daughter', cursive;
    font-size: 4rem;
}

footer a {
    text-decoration: none;
}

@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar{
        background-color: transparent;
        position: relative;
        top: 15vw;
    }

    .navbar-nav, #cloudBackground {
        display: flex;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1110px) {
    .material-symbols-outlined {
        display:initial;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }