
.navbar {
    display:flex;
}
.navbar-nav {
    position: absolute;
    width: 80%;
    display: none;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.1rem;
    align-items: center;
    height: 45px;
    z-index: 3;
    box-shadow: 2px 3px 3px rgba(255, 255, 255, 0.6);
}

.material-symbols-outlined {
    padding: 0 10px;
    display: none;
    color: #f5b3dc;
}

#cloudBackground {
    position: absolute;
    bottom: 30px;
    display: none;
    width: 40%;
    z-index: 3;
}

#frontPageCarousel {
    position: relative;
    top: -17px;
}

#midPageArticle {
    height: 500px;

}

.footer {
    height: 300px;
    background-color: #4f4d4d;
    color: white;
}


@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar{
        background-color: transparent;
        position: relative;
        top: 15vw;
    }

    .navbar-nav, #wrozkaLogo, #cloudBackground {
        display: flex;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1110px) {
    .material-symbols-outlined {
        display:initial;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }