.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  border: 1px solid green;
  left: 50%;
  transform: translate(-50%, 0);
}

.navbar-nav {
  background-color: rgba(255, 255, 255, 0.9);
  height: 44px;
  border-radius: 20px;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.1rem;
}

/* .navbar-nav {
  position: absolute;
  width: 90%;
  display: none;
  justify-content:space-between;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.1rem;
  align-items: center;
  height: 44px;
  z-index: 3;
  box-shadow: 2px 3px 3px rgba(255, 255, 255, 0.6);
} */


.nav-item {
  margin: 0 auto;
  border: 1px solid red;
  font-size: 0.7rem;
}

#logoNavbar {
  display: none;
  margin: 0;
  padding: 0;
}

@media (min-width < 767px) {
  .navbar {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 600px;
  }

  #logoNavbar {
    display: none;
  }
  
}

@media (min-width: 768px) {
.navbar {
  top: 80px;
  background: none;
}

  .nav-item {
    font-size: 0.8rem;
  }

  .navbar-nav {
    align-items: center;
  }

  #logoNavbar {
    max-width: 140px;
    display: block;
  }
}

@media (min-width: 992px) {
.nav-item {
  font-size: 1rem;
}

#logoNavbar {
  max-width: 250px;
}

}

@media (min-width: 1200px) {
  .nav-item {
    font-size: 1.1rem;
  }
  
 #logoNavbar {
  max-width: 400px;
}

}